{% load static %}
{% block content %}
    <!-- Footer-->
    <footer class="footer dark-mode bg-dark py-5">
        <div class="container pt-md-2 pt-lg-3 pt-xl-4">
          <div class="row pb-5 pt-sm-2 mb-lg-2">
            <div class="col-md-4 col-lg-3 pb-2 pb-md-0 mb-4 mb-md-0"><a class="navbar-brand py-0 mb-3 mb-md-4"><span class="text-primary flex-shrink-0 me-2">
                  </span><span class="text-light">Albatross<img src ="{% static 'assets/img/icon-alb-3.png' %}" height="100px" width="100px"></span></a>
              <div class="d-flex justify-content-start"><a class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle me-3" href="https://twitter.com/Albatross_LLC" target="_blank"><i class="ai-twitter"></i></a><a class="btn btn-icon btn-sm btn-secondary btn-instagram rounded-circle me-3" href="https://www.instagram.com/albatrossgolf.io/?hl=en" target="_blank"><i class="ai-instagram"></i></a></div>
            </div>
            <div class="col-md-8 col-lg-7 col-xl-6 offset-lg-2 offset-xl-3">
              <div class="row row-cols-1 row-cols-sm-3">
                <div class="col mb-4 mb-md-0">
                  <h4 class="h6 fw-bold pb-lg-1">Homepage</h4>
                  <ul class="nav flex-column">
                    <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'homepage' %}#albatross_collections">Albatross Collections</a></li>
                    <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'homepage' %}#albatross_partners">Partners</a></li>
                    <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'homepage' %}#albatross_roadmap">Roadmap</a></li>
                  </ul>
                </div>
                <div class="col mb-4 mb-md-0">
                  <h4 class="h6 fw-bold pb-lg-1">Technology</h4>
                  <ul class="nav flex-column">
                    <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'technology' %}#albatross_application">Albatross Application</a></li>
                    <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'technology' %}#albatross_faqs">FAQs</a></li>
                    <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'technology' %}#albatross_whitepaper">White Paper</a></li>
                  </ul>
                </div>
                <div class="col mb-4 mb-md-0">
                    <h4 class="h6 fw-bold pb-lg-1">About</h4>
                    <ul class="nav flex-column">
                      <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'about' %}#albatross_team">Our Team</a></li>
                      <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'about' %}#albatross_story">Our Story</a></li>
                      <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'about' %}#albatross_environmentalcommitment">Our Environmental Commitment</a></li>
                      <li><a class="nav-link fw-normal py-1 px-0" href="{% url 'about' %}#albatross_events">Community Tournaments & Events</a></li>
                    </ul>
                  </div>

              </div>
            </div>
          </div>
          <p class="fs-sm mb-0"><span class="opacity-70">&copy; All rights reserved. Made by </span><a class="nav-link d-inline fw-normal p-0" target="_blank" rel="noopener">Albatross LLC</a></p>
        </div>
      </footer>
{% endblock %}